.main_survey {
  width: 100vw;

  & .survey_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.content_bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 0 0 256px;
  width: 100%;
  min-width: 256px;
  z-index: 10;
  background: #fff;
  box-shadow: inset -1px 0 rgba(0, 0, 0, 0.07);

  & .Header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }
}

.lists {
  display: flex;
  flex-direction: column;

  & .list .list_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 10px 16px;

}
& .list.active {
  background-color: #f0f0f0;
}
}

